:root {
  --brown-lightest: #f5e8da;
  --brown-lighter: #e6ccb3;
  --brown-light: #d9b28d;
  --brown: #cc9966;
  --brown-medium: #b3774d;
  --brown-dark: #996633;
  --brown-darker: #804d26;
  --brown-darkest: #66331a;
}

body {
  background-color: var(--brown-lightest);
  color: var(--brown-darkest);
}

h1 {
  color: var(--brown-medium);
}

h2 {
  font-family: "Great Vibes", cursive;
  color: var(--brown-medium);
  font-size: 1.5rem;
  font-weight: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Optional effect */
}

p {
  color: var(--brown-dark);
}

/* Correct Guess Animation */
@keyframes correctGuess {
  0% {
    background-color: var(--brown-light);
    transform: scale(1);
  }
  50% {
    background-color: var(--brown-medium);
    transform: scale(1.1);
  }
  100% {
    background-color: var(--brown);
    transform: scale(1);
  }
}

.correct {
  animation: correctGuess 0.5s ease;
}

/* Incorrect Guess Animation */
@keyframes incorrectGuess {
  0% {
    background-color: var(--brown-darker);
    transform: scale(1);
  }
  50% {
    background-color: red;
    transform: scale(0.9);
  }
  100% {
    background-color: var(--brown-darker);
    transform: scale(1);
  }
}

.incorrect {
  animation: incorrectGuess 0.5s ease;
}

button:hover {
  background-color: var(--brown-darker);
}

.game-over {
  text-align: center;
  margin-top: 20px;
}

/* Animation for winning */
@keyframes winAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.game-over.win .game-over-message {
  color: green;
  animation: winAnimation 1s ease-out;
}

/* Animation for losing */
@keyframes loseAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.game-over.lose .game-over-message {
  color: red;
  animation: loseAnimation 0.5s ease-out;
}

footer {
  background-color: var(--brown-darkest);
  color: var(--brown-lightest);
  padding: 20px;
  text-align: center;
}
